html {
  font-size: var(--font-size-root-mobile); /* font-size: valor "14px". unidades: 14px: pixels da CSS (unidade fixa na tela). */
}

@media (min-width: 768px) {
  html {
    font-size: var(--font-size-root-desktop); /* font-size: valor "16px". unidades: 16px: pixels da CSS (unidade fixa na tela). */
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem var(--color-white), 0 0 0 0.25rem var(--color-focus-ring); /* box-shadow: valor "0 0 0 0.1rem var(--color-white), 0 0 0 0.25rem var(--color-focus-ring)". unidades: 0.1rem: unidade relativa ao font-size do elemento raiz (html); 0.25rem: unidade relativa ao font-size do elemento raiz (html). */
}

html {
  position: relative; /* position: valor "relative". */
  min-height: 100%; /* min-height: valor "100%". */
}

body {
  margin-bottom: 3.75rem; /* margin-bottom: valor "60px". unidades: 60px: pixels da CSS (unidade fixa na tela). */
}
